[submodule "BedtimeStories"]
	path = BedtimeStories
	url = https://github.com/tylerlinen/BedtimeStories.git
[submodule "FamousQuotes"]
	path = FamousQuotes
	url = https://github.com/tylerlinen/FamousQuotes.git
[submodule "PayrollCalculator"]
	path = PayrollCalculator
	url = https://github.com/tylerlinen/PayrollCalculator.git
